@media (max-width: 500px) {
    .navbar-nav-link p {
        font-size: 13px;
    }

    .admin-log {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    .navbar-nav-link p {
        font-size: 11px;
    }

    .admin-log {
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .navbar-nav-link p {
        font-size: 11px;
    }

    .admin-log {
        font-size: 9px;
    }
}

@media (max-width: 400px) {
    .navbar-nav-link {
        gap: 10px;
    }

    .navbar-log-admin {
        gap: 20px;
    }
}

@media (max-width: 370px) {
    .logo {
        width: 25px;
    }

    .navbar-nav-link p {
        font-size: 10px;
    }

    .admin-log {
        font-size: 8px;
    }
}